.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 100%;
}
.form-group {
  margin-top: 12px;
  padding: 18px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 5px 10px #999999;
  border: 3px solid #ffcccc;
  text-align: center;
}
.group-item {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 8px;
}
.input-data {
  border: 1px solid #000;
  height: 30px;
  font-size: 1.6rem;
  padding-left: 4px;
  border-color: #a5826f;
}
.title {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 4px;
}
.btn-submit {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 4px;
  background-color: #a5826f;
}
